name: Cerver Beta Integration

on:
  push:
    branches:
      - '*beta'
      - '!master'
  pull_request:
    branches:
      - '*beta'
      - '!master'

jobs:
  build:
    # build sources with beta flags
    name: Cerver beta build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: gcc make
        run: make TYPE=beta
      - name: gcc examples
        run: make TYPE=beta examples

      - name: Archive Shared Library
        uses: actions/upload-artifact@v2
        with:
          name: cerver-lib
          path: ./bin/libcerver.so
          retention-days: 1

      - name: clean
        run: make clean

      - name: g++ make
        run: make TYPE=beta CC=g++
      - name: g++ examples
        run: make TYPE=beta CC=g++ examples
  
  test:
    # run tests with generated lib
    name: Cerver beta tests
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Shared Library
        uses: actions/download-artifact@v2
        with:
          name: cerver-lib
          path: ./bin

      - name: gcc tests
        run: make test
      - name: gcc run tests
        run: bash test/run.sh

      - name: clear
        run: make clear

      - name: g++ tests
        run: make CC=g++ test
      - name: g++ run tests
        run: bash test/run.sh
  
  docker:
    # test compilation inside dockers
    name: Docker build tests
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # docker setup
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # build cerver beta image
      - name: Build Docker Beta Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.beta
          tags: ermiry/cerver:beta
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }} 
