name: Cerver Continuous Integration

on:
  push:
    branches-ignore:
      - 'master'
      - '*beta'
  pull_request:
    branches-ignore:
      - 'master'
      - '*beta'

jobs:
  build:
    name: Cerver build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@v2

      - name: System Information
        run: gcc --version && g++ --version

      - name: gcc make
        run: make
      - name: gcc examples
        run: make examples

      - name: Archive Shared Library
        uses: actions/upload-artifact@v2
        with:
          name: cerver-lib
          path: ./bin/libcerver.so
          retention-days: 1
      
      - name: clean
        run: make clean

      - name: g++ make
        run: make CC=g++
      - name: g++ examples
        run: make CC=g++ examples

  test:
    name: Cerver tests
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get Shared Library
        uses: actions/download-artifact@v2
        with:
          name: cerver-lib
          path: ./bin

      - name: gcc tests
        run: make test
      - name: gcc run tests
        run: bash test/run.sh

      - name: clear
        run: make clear

      - name: g++ tests
        run: make CC=g++ test
      - name: g++ run tests
        run: bash test/run.sh
