name: Cerver Production Integration

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    # build sources with production flags
    name: Cerver production build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: sudo apt-get install libcurl4-openssl-dev

      - name: gcc make
        run: make TYPE=production
      - name: gcc examples
        run: make TYPE=production examples

      - name: Archive Shared Library
        uses: actions/upload-artifact@v2
        with:
          name: cerver-lib
          path: ./bin/libcerver.so
          retention-days: 1

      - name: clean
        run: make clean

      - name: g++ make
        run: make TYPE=production CC=g++
      - name: g++ examples
        run: make TYPE=production CC=g++ examples
  
  test:
    # run tests with production sources
    name: Cerver production tests
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get Shared Library
        uses: actions/download-artifact@v2
        with:
          name: cerver-lib
          path: ./bin

      - name: gcc tests
        run: make TYPE=production test
      - name: gcc run tests
        run: bash test/run.sh

      - name: clear
        run: make clear

      - name: g++ tests
        run: make TYPE=production CC=g++ test
      - name: g++ run tests
        run: bash test/run.sh

  docker:
    # test that we can compile production Dockerfile
    name: Docker build test
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build Docker Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile.prod
          tags: ermiry/cerver:production
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
